---
title: Projects
permalink: /projects/
---
<div class="max-w-5xl">
    <div class="border border-b-0 border-stone-300 px-4 py-5 bg-stone-100">
        <header class="mb-4">
            <h1 class="uppercase tracking-wider font-jersey text-3xl lg:text-4xl font-normal mb-1">Projects <span
                        class="lowercase text-emerald-600/80">/ <span id="typewriter"
                                                                      class="after:content-['\_'] after:animate-blink italic font-normal"></span></span>
            </h1>
            <p class="text-sm italic">Things I'm working on.</p>
        </header>
        <div class="flex flex-wrap gap-px justify-stretch bg-stone-50">
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Shape</p>
                <p class="text-sm">Finite.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Logic</p>
                <p class="text-sm">Goal-directed execution.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Structure</p>
                <p class="text-sm">Linear or hierarchical.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Action</p>
                <p class="text-sm">Building or producing.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Mode</p>
                <p class="text-sm">Executive, linear, strategic.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Data</p>
                <p class="text-sm">Status, timeline, tasks.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Relation</p>
                <p class="text-sm">Engages practices; emerges from playgrounds.</p>
            </div>
        </div>
    </div>
</div>

<div class="max-w-5xl">
    <div class="flow-root mb-12">
        <div class="overflow-x-auto">
            <table class="min-w-full divide-y divide-stone-300 border border-stone-300">
                <thead>
                <tr class="divide-x divide-stone-300 bg-stone-200/50">
                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold uppercase">Project</th>
                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold uppercase">Description</th>
                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold uppercase"><abbr
                                data-tooltip="Date of Birth" class="cursor-help">DOB</abbr></th>
                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold uppercase">Status</th>
                </tr>
                </thead>
                <tbody class="divide-y divide-stone-200">
                <tr class="divide-x divide-stone-200">
                    <td class="p-4 text-sm font-medium whitespace-nowrap">exp/daily</td>
                    <td class="p-4 text-sm text-stone-500">???</td>
                    <td class="p-4 text-sm text-stone-500">2025</td>
                    <td class="p-4 text-sm text-stone-500 whitespace-nowrap">Building...</td>
                </tr>
                <tr class="divide-x divide-stone-200">
                    <td class="p-4 text-sm font-medium whitespace-nowrap">Walking Games</td>
                    <td class="p-4 text-sm text-stone-500">???</td>
                    <td class="p-4 text-sm text-stone-500">2024</td>
                    <td class="p-4 text-sm text-stone-500 whitespace-nowrap">Building...</td>
                </tr>
                <tr class="divide-x divide-stone-200">
                    <td class="text-sm font-medium whitespace-nowrap"><a href="/project/exploriter/"
                                                                         class="block p-4 hover:underline underline decoration-stone-300 hover:decoration-stone-500">exploriter.com</a>
                    </td>
                    <td class="p-4 text-sm text-stone-500">
                        <div class="flex items-center gap-1.5">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor"
                                 class="size-4 text-amber-500">
                                <path fill-rule="evenodd"
                                      d="m7.539 14.841.003.003.002.002a.755.755 0 0 0 .912 0l.002-.002.003-.003.012-.009a5.57 5.57 0 0 0 .19-.153 15.588 15.588 0 0 0 2.046-2.082c1.101-1.362 2.291-3.342 2.291-5.597A5 5 0 0 0 3 7c0 2.255 1.19 4.235 2.292 5.597a15.591 15.591 0 0 0 2.046 2.082 8.916 8.916 0 0 0 .189.153l.012.01ZM8 8.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Z"
                                      clip-rule="evenodd"/>
                            </svg>
                            <span>You are here.</span>
                        </div>
                    </td>
                    <td class="p-4 text-sm text-stone-500">2024</td>
                    <td class="p-4 text-sm text-stone-500 whitespace-nowrap">Live</td>
                </tr>
                <tr class="divide-x divide-stone-200">
                    <td class="text-sm font-medium"><a
                                class="block p-4 hover:underline underline decoration-stone-300 hover:decoration-stone-500"
                                href="/project/superfood-book/"><em>Superfood Juices,
                                Smoothies &
                                Drinks</em> Book</a></td>
                    <td class="p-4 text-sm text-stone-500">A recipe book following the success of <em>The Healthy
                            Green Drink Diet</em> book.
                    </td>
                    <td class="p-4 text-sm text-stone-500">2014</td>
                    <td class="p-4 text-sm text-stone-500 whitespace-nowrap">Published</td>
                </tr>
                <tr class="divide-x divide-stone-200 bg-red-100/50 opacity-70">
                    <td class="text-sm font-medium whitespace-nowrap"><a
                                class="block p-4 hover:underline underline decoration-stone-300 hover:decoration-stone-500"
                                href="/project/superdrinks/">superdrinks.org</a>
                    </td>
                    <td class="p-4 text-sm text-stone-500">Superfood drinks recipe blog. Subsumed
                        healthygreendrink.com.
                    </td>
                    <td class="p-4 text-sm text-stone-500">2014</td>
                    <td class="p-4 text-sm text-stone-500 whitespace-nowrap">Shut down in 2017</td>
                </tr>
                <tr class="divide-x divide-stone-200">
                    <td class="text-sm font-medium"><a
                                class="block p-4 hover:underline underline decoration-stone-300 hover:decoration-stone-500"
                                href="/project/hgd-book/"><em>The
                                Healthy Green Drink Diet</em> Book</a></td>
                    <td class="p-4 text-sm text-stone-500">A recipe book owing to the success of
                        healthygreendrink.com.
                    </td>
                    <td class="p-4 text-sm text-stone-500">2012</td>
                    <td class="p-4 text-sm text-stone-500 whitespace-nowrap">Published</td>
                </tr>
                <tr class="divide-x divide-stone-200 bg-red-100/50 opacity-70">
                    <td class="text-sm font-medium whitespace-nowrap"><a
                                class="block p-4 hover:underline underline decoration-stone-300 hover:decoration-stone-500"
                                href="/project/designpx/">Designpx</a>
                    </td>
                    <td class="p-4 text-sm text-stone-500">A WordPress design and development studio. Specializing
                        in custom Genesis and Thesis framework themes.
                    </td>
                    <td class="p-4 text-sm text-stone-500">2010</td>
                    <td class="p-4 text-sm text-stone-500 whitespace-nowrap">Shut down in 2016</td>
                </tr>
                <tr class="divide-x divide-stone-200 bg-red-100/50 opacity-70">
                    <td class="text-sm font-medium whitespace-nowrap"><a
                                class="block p-4 hover:underline underline decoration-stone-300 hover:decoration-stone-500"
                                href="/project/hgd/">healthygreendrink.com</a>
                    </td>
                    <td class="p-4 text-sm text-stone-500">A green smoothie recipes blog. Originally built to learn
                        <abbr class="cursor-help" data-tooltip="Search Engine Optimization">SEO</abbr>.
                    </td>
                    <td class="p-4 text-sm text-stone-500">2008</td>
                    <td class="p-4 text-sm text-stone-500 whitespace-nowrap">Shut down in 2016</td>
                </tr>
                </tbody>
                <tfoot>
                <tr class="divide-x divide-stone-300 bg-stone-200/50">
                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold uppercase">Project</th>
                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold uppercase">Description</th>
                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold uppercase"><abbr
                                data-tooltip="Date of Birth" data-tippy-placement="bottom"
                                class="cursor-help">DOB</abbr></th>
                    <th scope="col" class="px-4 py-3.5 text-left text-sm font-semibold uppercase">Status</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
