---
title: Practices
permalink: /practices/
description: Activities and traditions that build meaning through embodied participation.
priority: 0.8
useMostRecentFrom: practice
---
<div class="max-w-5xl">
    <div class="border border-dashed border-stone-300 p-4 bg-stone-100 mb-12">
        <header class="mb-4">
            <h1 class="uppercase tracking-wider font-jersey text-3xl lg:text-4xl font-normal mb-1">Practices <span
                        class="lowercase text-emerald-600/80">/ <span id="typewriter"
                                                                      class="after:content-['\_'] after:animate-blink italic font-normal"></span></span>
            </h1>
            <p class="text-sm italic">Disciplines I return to.</p>
        </header>
        <div class="flex flex-wrap gap-px justify-stretch bg-stone-50">
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Shape</p>
                <p class="text-sm">Indefinite, cyclical.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Logic</p>
                <p class="text-sm">Identity-shaping repetition.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Structure</p>
                <p class="text-sm">Rhythmic or scheduled.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Action</p>
                <p class="text-sm">Returning and refining.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Mode</p>
                <p class="text-sm">Embodied, integrative, habitual.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Data</p>
                <p class="text-sm">Frequency, duration, reflection.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Relation</p>
                <p class="text-sm">Supports projects; rooted in playgrounds.</p>
            </div>
        </div>
    </div>
</div>

<div class="max-w-4xl">
    <ol>
        {%- for post in collections.practiceSorted -%}
            <li>
                <span class="flex group relative">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                         class="size-4.5 shrink-0 opacity-40 group-hover:opacity-100 group-hover:text-emerald-600 cursor-help absolute top-1.25"
                         viewBox="0 0 16 16" data-tooltip="Practice">
                        <path d="M11.534 7h3.932a.25.25 0 0 1 .192.41l-1.966 2.36a.25.25 0 0 1-.384 0l-1.966-2.36a.25.25 0 0 1 .192-.41m-11 2h3.932a.25.25 0 0 0 .192-.41L2.692 6.23a.25.25 0 0 0-.384 0L.342 8.59A.25.25 0 0 0 .534 9"/>
                        <path fill-rule="evenodd"
                              d="M8 3c-1.552 0-2.94.707-3.857 1.818a.5.5 0 1 1-.771-.636A6.002 6.002 0 0 1 13.917 7H12.9A5 5 0 0 0 8 3M3.1 9a5.002 5.002 0 0 0 8.757 2.182.5.5 0 1 1 .771.636A6.002 6.002 0 0 1 2.083 9z"/>
                    </svg>
                <a class="pl-6.5" href="{{ post.url }}">{{ post.data.title }}</a>
                </span>
            </li>
        {%- endfor -%}
    </ol>
</div>

<script>
    (() => {
        const words = ['Art', 'Celebration', 'Craft', 'Discipline', 'Fellowship', 'Habit', 'Ritual', 'Routine', 'Sacrament', 'Tradition', 'Training', 'Virtue', 'Workout'];
        const el = document.getElementById("typewriter");
        let i = 0, j = 0;
        let deleting = false;

        const type = () => {
            const word = words[i];

            if (deleting) {
                j--;
                el.textContent = word.substring(0, j);
                if (j === 0) {
                    deleting = false;
                    i = (i + 1) % words.length;
                }
            } else {
                j++;
                el.textContent = word.substring(0, j);
                if (j === word.length) {
                    // Word is fully typed (with the last letter visible)—pause for 2 seconds, then start deletion.
                    return setTimeout(() => {
                        deleting = true;
                        type();
                    }, 2500);
                }
            }

            setTimeout(type, 80);
        };

        type();
    })();
</script>