---
title: Practices
permalink: /practices/
---
<div class="max-w-5xl">
    <div class="border border-dashed border-stone-300 p-4 bg-stone-100 mb-12">
        <header class="mb-4">
            <h1 class="uppercase tracking-wider text-lg font-medium mb-1">Practices</h1>
            <p class="text-sm italic">Disciplines I return to.</p>
        </header>
        <div class="flex flex-wrap gap-px justify-stretch bg-stone-50">
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Shape</p>
                <p class="text-sm">Indefinite, cyclical.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Logic</p>
                <p class="text-sm">Identity-shaping repetition.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Structure</p>
                <p class="text-sm">Rhythmic or scheduled.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Action</p>
                <p class="text-sm">Returning and refining.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Mode</p>
                <p class="text-sm">Embodied, integrative, habitual.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Data</p>
                <p class="text-sm">Frequency, duration, reflection.</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">Relation</p>
                <p class="text-sm">Supports projects; rooted in playgrounds.</p>
            </div>
        </div>
    </div>
</div>

<div class="max-w-4xl">
    <ol>
        {%- for post in collections.practiceSorted -%}
            <li><a href="{{ post.url }}">{{ post.data.title }}</a></li>
        {%- endfor -%}
    </ol>
</div>
