@import "tailwindcss";

@source "./_includes/**/*.html";
@source "./**/*.{html,md}";

@theme {
    --font-averia: 'Averia Serif Libre', serif;
    --font-jersey: 'Jersey 10', sans-serif;
    --font-inter: 'Inter', sans-serif;
    --font-ibmplex: 'IBM Plex Mono', monospace;
}

@layer base {
    @font-face {
        font-family: 'Inter';
        src: url(/fonts/Inter/inter.var.woff2) format('woff2-variations');
        font-weight: 100 900;
        font-style: normal;
        font-display: swap;
    }
    @font-face {
        font-family: 'Inter';
        src: url(/fonts/Inter/inter.italic.var.woff2) format('woff2-variations');
        font-weight: 100 900;
        font-style: italic;
        font-display: swap;
    }
    @font-face {
        font-family: 'Jersey 10';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/Jersey10/jersey-400.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Averia Serif Libre';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/AveriaSerifLibre/asl-400.woff2) format('woff2');
    }
    @font-face {
        font-family: 'Averia Serif Libre';
        font-style: italic;
        font-weight: 300;
        font-display: swap;
        src: url(/fonts/AveriaSerifLibre/asl-300i.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 100;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-100.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 200;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-200.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 300;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-300.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-400.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 500;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-500.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 600;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-600.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: normal;
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-700.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 100;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-100i.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 200;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-200i.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 300;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-300i.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 400;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-400i.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 500;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-500i.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 600;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-600i.woff2) format('woff2');
    }
    @font-face {
        font-family: 'IBM Plex Mono';
        font-style: italic;
        font-weight: 700;
        font-display: swap;
        src: url(/fonts/IBMPlexMono/ipm-700i.woff2) format('woff2');
    }

    main p a,
    main li a {
        @apply underline decoration-stone-400/80 hover:decoration-stone-800 hover:decoration-2;
    }

    em {
        @apply font-medium;
    }

    strong,
    strong em {
        @apply font-bold;
    }

    b,
    b em {
        @apply font-semibold;
    }

    strong, b {
        @apply text-stone-950;
    }

    ol, ul {
        @apply ml-12 my-6;
    }

    ol {
        @apply list-decimal;
    }

    ul {
        @apply list-disc;
    }

    ol li, ul li {
        @apply py-1;
    }

    main h1 {
        @apply text-xl font-bold mb-6;
    }

    main p {
        @apply mb-6 not-has-[+p]:mb-0;
    }

    .strike {
        @apply opacity-65 line-through decoration-1 decoration-stone-500;
    }
}