<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body class="antialiased font-ibmplex text-base leading-relaxed text-stone-900 bg-stone-50 selection:bg-yellow-300 selection:text-yellow-900">
<header class="px-12 py-10">
    <h1 class="font-averia text-3xl lowercase font-normal">
        <a href="/">
            <span class="tracking-tight select-all">Explo(r|it)er</span>.
            <span class="italic font-light text-stone-500">Truth-teller; reputable fabulist.</span>
        </a>
    </h1>
</header>
<main>
    {{ content }}
</main>
</body>
</html>
