---
title: Stories
permalink: /stories/
description: "Stories: accounts that explain why things happen(ed) through context and perspective."
---
<div class="max-w-5xl">
    <div class="border border-dashed border-stone-300 p-4 bg-stone-100 mb-12">
        <header class="mb-4">
            <h1 class="uppercase tracking-wider font-jersey text-3xl lg:text-4xl font-normal mb-1">
                Stories <span class="lowercase text-emerald-600/80">/ <span id="typewriter"
                                                                            class="after:content-['\_'] after:animate-blink italic font-normal"></span></span>
            </h1>
            <p class="text-sm italic">Accounts that explain why things happen(ed) through context and perspective.</p>
        </header>
        <div class="flex flex-wrap gap-px justify-stretch bg-stone-50">
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">query</p>
                <p class="text-sm">WHY (when/who/where)</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">conveys</p>
                <p class="text-sm">Perspectival Knowing</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">function</p>
                <p class="text-sm">Awareness</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">imparts</p>
                <p class="text-sm">Perspective & Experience</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">realizes</p>
                <p class="text-sm">Sense of Presence</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">cognate</p>
                <p class="text-sm">Noesis · νόησις</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">memory</p>
                <p class="text-sm">Episodic</p>
            </div>
            <div class="ring ring-stone-200 p-4 grow">
                <p class="text-xs font-light uppercase mb-1">domain</p>
                <p class="text-sm">Context (content)</p>
            </div>
        </div>
    </div>
</div>

<div class="max-w-4xl">
    <ol>
        {%- for post in collections.storySorted -%}
            <li>
                <span class="flex group relative">
                    <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                         class="size-4 shrink-0 opacity-40 group-hover:opacity-100 group-hover:text-emerald-600 cursor-help absolute top-1.5"
                         viewBox="0 0 16 16" data-tooltip="Story">
                        <path fill-rule="evenodd"
                              d="M0 3.5A.5.5 0 0 1 .5 3H1c2.202 0 3.827 1.24 4.874 2.418.49.552.865 1.102 1.126 1.532.26-.43.636-.98 1.126-1.532C9.173 4.24 10.798 3 13 3v1c-1.798 0-3.173 1.01-4.126 2.082A9.6 9.6 0 0 0 7.556 8a9.6 9.6 0 0 0 1.317 1.918C9.828 10.99 11.204 12 13 12v1c-2.202 0-3.827-1.24-4.874-2.418A10.6 10.6 0 0 1 7 9.05c-.26.43-.636.98-1.126 1.532C4.827 11.76 3.202 13 1 13H.5a.5.5 0 0 1 0-1H1c1.798 0 3.173-1.01 4.126-2.082A9.6 9.6 0 0 0 6.444 8a9.6 9.6 0 0 0-1.317-1.918C4.172 5.01 2.796 4 1 4H.5a.5.5 0 0 1-.5-.5"/>
                        <path d="M13 5.466V1.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192m0 9v-3.932a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384l-2.36 1.966a.25.25 0 0 1-.41-.192"/>
                    </svg>
                    <a class="pl-6.5" href="{{ post.url }}">{{ post.data.title }}</a>
                    {%- if post.data.tags contains "info" -%}
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                             class="size-3.5 shrink-0 text-emerald-600 group-hover:text-emerald-600 cursor-help ml-1"
                             viewBox="0 0 16 16" data-tooltip="About the Site">
                        <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                        <path d="m8.93 6.588-2.29.287-.082.38.45.083c.294.07.352.176.288.469l-.738 3.468c-.194.897.105 1.319.808 1.319.545 0 1.178-.252 1.465-.598l.088-.416c-.2.176-.492.246-.686.246-.275 0-.375-.193-.304-.533zM9 4.5a1 1 0 1 1-2 0 1 1 0 0 1 2 0"/>
                    </svg>
                    {%- endif -%}
                </span>
            </li>
        {%- endfor -%}
    </ol>
</div>

<script>
    (() => {
        const words = ['Allegory', 'Anecdote', 'Biography', 'Case Study', 'Chronicle', 'Experience', 'Fable', 'Folktale', 'Frame', 'History', 'Insight', 'Intuition', 'Legend', 'Metaphor', 'Myth', 'Narrative', 'Observation', 'Parable', 'Perspective', 'Testimony', 'Thought Experiment', 'Worldview'];
        const el = document.getElementById("typewriter");
        let i = 0, j = 0;
        let deleting = false;

        const type = () => {
            const word = words[i];

            if (deleting) {
                j--;
                el.textContent = word.substring(0, j);
                if (j === 0) {
                    deleting = false;
                    i = (i + 1) % words.length;
                }
            } else {
                j++;
                el.textContent = word.substring(0, j);
                if (j === word.length) {
                    // Word is fully typed (with the last letter visible)—pause for 2 seconds, then start deletion.
                    return setTimeout(() => {
                        deleting = true;
                        type();
                    }, 2500);
                }
            }

            setTimeout(type, 80);
        };

        type();
    })();
</script>